.Card {
  background: rgb(76, 194, 139);
  max-width: 700px;
  min-width: 400px;
  height: 500px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  position:relative;
}
.Card .Header{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px 8px 0 0;
  color:#444;
  align-items: center;
}
h1{
  font-size: 2rem;
}
.Card .Divider{
  width: 88%;
  height: 3px;
  background: rgb(121, 207, 167);
  border-radius: 4px;
  margin-bottom: 36px;
}
.Card .Content{
  display:flex;
  flex-direction: column;
  align-items: center;
}
label{
  width: 80%;
  color:rgb(114, 114, 114);
  margin: 8px 0 8px 0;
  font-size: .8rem;
}
input[type=number]{
  border:none;
  width: 80%;
  height: 25px;
  color: #333;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  padding:0 0 0 10px;;
  transition: 0.3s;
  border-bottom: solid 3px rgb(76, 194, 139)  ;
}

input[type=number]:focus{
  outline: none;
  border-bottom:solid 3px rgb(80, 139, 112) ;
}

.Buttons{
  margin-top: 32px;
}

.Buttons button{
  margin: 24px;
}

.Result{
  background: #548a64;
  height: 19.5vh;
  width: 98%;
  text-align: center;
  border-radius: 8px;
}